@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Lato:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Lato:wght@100&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 60.2%;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth !important;
}

body{
  color: #333 !important;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
}

a:hover {
  font-weight: bolder;
}

a:active{
  color: #1f1f1f;
}

p {
  font-size: 1.9rem;
  margin-bottom: 8px;
}

h1{
  font-size: 4rem;
}

h2 {
  margin: 20px;
  padding: 0;
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  margin: 0;
}

h4{
    font-size: 1.9rem;
    font-weight: 500;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

button{
  border: none;
}

button:hover {
  background-color:#868138;
  transition: 0.7s;
  color: white;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-wrap{
  flex-wrap: wrap;
}

.color-white {
  color: white;
}

section {
  padding: 10px 0;
}

.text-justify{
  text-align: justify !important;
}

.display-block{
  display: block !important;
}

.text-center{
  text-align: center;
}

.space-between{
  justify-content: space-between;
}

.shadow-none{
  box-shadow: none !important;
}

.pd{
  padding: 4px !important;
}